.accepted-header {
    background-color: rgba($color: rgb(17, 239, 132), $alpha: 0.5);
}

.pending-header {
    background-color: rgba($color: rgb(232, 238, 50), $alpha: 0.5);
}

.canceled-header {
    background-color: rgba($color: rgb(240, 116, 116), $alpha: 0.5);
}

.card{
    margin-top: 30px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 0 20px white;
}

.process{
    text-align: end;
}

.admin-btns-handler{
    display: flex;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
    display: flex;
    justify-content: end;
}

.middle{
    width: 100%;
    display: flex;
    justify-content: center;
}

.process-btn{
    min-width: 150px;
}