.inner-main{
    padding-left: 20px;
    padding-right: 20px;
}

.custom-content-handler{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-process-manager{
    margin-top: 20px;
}